body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  text-align: center;
}
.container1{
    background-color: #1F2937;
}
.container1 img{
  width: 5%;
}
.navbar {
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  padding: 20px 0px 20px 100px;
  align-items: center;
}

.header-logo img {
  width: 84px;
  margin-right: auto;
}

.header-link {
  display: flex;
  margin-left: auto;
  padding: 0px 100px 0px 0px;  
}

.header-link a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  padding: 10px;
  font-family: 'Roboto', arial;
}

.col h1, p{
  text-align: justify;
}
.major_image img{
  width: 80%;
  flex-wrap: wrap;
}
div {
    padding: 25px 0px;
    text-align: center;
    color: #EEEEEE;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content {
  align-items: center;
  background-color: #548CA8;
}

.content-info {
  display: flex;
  /* border: 1px solid gold; */
  justify-content: center;
  flex-wrap: wrap;
}

.content-info img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #3882F6;
  border-radius: 15px;
  margin: 5px 20px 0px 20px;
}

  #main-content {
    background-color: #E5E7EB;
  }

  
  .contact-us {
    background-color: #334257;
  }
  .contact-us button{
    vertical-align: middle;
    justify-content: space-between;
  }
  .image img{
    float: right;
  }
  .quote{
    text-align: center;
  }
  .panel{
    text-align:center;
    margin: 10px 0;
  }
  #button1{
    float: left;
  }
  .footer {
    background-color: #1F2937;
    
    color: #fff;
    font-family: 'Roboto', arial;
}
.footer p{
  text-align: center;
}

@media (min-width: 992px){
  .navbar li {
      margin-left : 1em;
      margin-right : 1em;
  }
}